<!doctype html>
<html>
  <head>
    <link rel="preload" href="{{ site.baseurl }}/assets/css/styles.css" as="style">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/swup@4"></script>
    <script>
      const swup = new Swup();
    </script>
  </head>
  <body>
    {% include header.html %}
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
